
body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #fff;  
    color: #333;  
}  


header {  
    padding: 5px;
    display: flex;
    justify-content: space-around;

}  

.logo {  
    font-size: 24px;  
    font-weight: bold;  
}  

.quote-button {  
    background-color: white;  
    color: black;  
    font-weight: bold; 
    padding: 10px 15px;  
    border-radius: 10px;  
    margin-left: 20px;  
    border-color: black;  
}  

.hero {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 50px 20px;  
    margin: 50px;  
}  

.hero-content {  
    max-width: 600px;  
}  

.hero h1 {  
    font-size: 70px;  
    margin-bottom: 20px;  
}  

.hero p {  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 18px;  
    margin-top: 30px;  
    line-height: 30px;  
}  

.consultation-button {  
    background-color: black;  
    color: white;  
    border: none;  
    font-size: medium;  
    padding: 20px 35px;  
    border-radius: 10px;  
}  

.hero-image img {  
    max-width: 100%;  
    height: auto;  
}  

footer {  
    text-align: center;  
    padding: 20px;  
    background-color: #f8f8f8;  
}  

.logos img {  
    margin: 0 10px;  
}

@media (max-width: 768px) {  
    .navbar-nav {  
        margin-top: 10px;  
    }  
}

@media (max-width: 430px) {  
    header {  
        padding: 5px;  
    }  

    .hero {  
        flex-direction: column;  
        padding: 20px;  
    }  

    .hero h1 {  
        font-size: 40px;  
        text-align: center;  
    }  

    .hero p {  
        font-size: 16px;  
        line-height: 24px;  
        text-align: center;  
    }  

    .consultation-button {  
        width: 100%;  
    }  
  
    .quote-button {  
        width: 100%;  
        margin-left: 0;  
    }   
}  
.services-container {  
    display: flex;  
    align-items: center;  
}  

.services-title {  
    background-color: #b2ff66; 
    padding: 10px 20px;  
    border-radius: 5px;  
    font-weight: bold;  
    margin-right: 20px;  
}  

.services-description {  
    font-size: 16px;  
    color: #333;  
}
.services-container {  
    margin-bottom: 20px;   
}  

.card-container {  
    display: flex;  
    justify-content: center;  
    margin: 20px;  
}  

.custom-card {  
    background-color: #f0f0f0;   
    border-radius: 10px; 
    padding: 20px;  
    position: relative;  
    overflow: hidden;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}  

.custom-card h5 {  
    font-weight: bold;  
    color: #000; 
}  

.custom-card .btn-link {  
    color: #000;  
    text-decoration: none;  
    font-weight: bold;  
    position: absolute;  
    bottom: 20px;  
    left: 20px;  
}  

.custom-card:hover {  
    background-color: #a8e6cf;  
}  

.custom-card::after {  
    content: '';  
    position: absolute;  
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    background-image: url('path/to/your/icon.svg');  
    background-size: cover;  
    opacity: 0.1;  
}


    